html,
body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    font-family: "Source Sans 3", serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

#logo {
    height: 34px;
}

#user-avatar {
    height: 34px;
    border-radius: 50%;
}

.poster {
    display: flex;
    padding: 10px;
}

#posters-avatar {
    height: 34px;
    border-radius: 50%;
}

.posters-information {
    padding: 0 7px;
    margin-top: 2px;
}

#posters-name,
#posters-location {
    margin: -2px;
    padding: 0;
}

#posters-name,
#likes-counter,
#user-name {
    font-size: 13px;
}

#posters-location,
#para-comment {
    font-size: 12px;
}

#post {
    height: 375px;
}

.icons {
    padding-left: 10px;
}

#like,
#comment,
#message {
    height: 22px;
    margin: 0 5px;
}

#like:hover,
#comment:hover,
#message:hover {
    opacity: 0.5;
}

#likes-counter,
.likes-and-comments {
    padding-left: 15px;
    margin-top: 0;
}

.likes-and-comments {
    display: flex;
}

#para-comment {
    margin-left: 3px;
}

#user-name,
#para-comment {
    margin-top: 0;
}